<% layout('blank_uspto_layout') -%>
<div class="login-container">
  <div class="hpanel">
 
    <div class="panel-body">
      <h1><%= title %></h1>
      <% if (typeof content !== 'undefined') { %>
        <p><%= content %></p>
      <% } %>
      <a class="btn btn-block btn-warning" href="<%= redirectTo %>"><%= redirectToLinkText %></a>
    </div>
  </div>
</div>
