<div class="login-container">
  <div class="hpanel">

    <div class="panel-body">
      <h1>{{title}}</h1>
      {{#if content}}
        <p>{{content}}</p>
      {{/if}}
      <a class="btn btn-block btn-warning" href="<%= redirectTo %>"><%= redirectToLinkText %></a>
    </div>
  </div>
</div>
